/* Tailwind v4 Preflight reset */
@import "tailwindcss/preflight";


/* Tailwind utilities */
@tailwind utilities;

/* Custom select style */
.select-custom {
  appearance: none;
  background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuDOA0ddXmhiQQNOy6am4KVkmP6n0KaBFf-JFdyK8eUYWYqLv92DjTwJ56gY02ylKNYuxSydtL0lilRYipOW3RP95yvXWJgtzYJTpaylubgu-q3ygao8RTlj4MSHA6QhRr8bqWHO4DOGUauv5gABtHQfyQk-VLwA_rKz7SQ2CyAM32_0od5WtCi6gXMMr0ISrkgNInfFHG9koisQUs7XJXB6m3rt7ciAaBRB3hjfHfQD6KiAg8t7YfHILt9Haf2b3fhxJfDWhcnVX2GP);
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1.5rem;
}

/* Custom base layer */
@layer base {
  a {
    @apply hover:scale-105 transition-transform;
  }
}

/* Global font */
body {
  font-family: "Public Sans", sans-serif;
}
