@import "tailwindcss";

/* This is fine for global styles */
@layer components {
  a {
    @apply transition-transform hover:scale-105;
  }
}

/* global.css or component CSS */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #1f2937 inset; /* inset background (dark gray) */
    -webkit-text-fill-color: #f9fafb; /* text color (light) */
    transition: background-color 5000s ease-in-out 0s; /* prevent flashing */
}

